.main {
    background-color: #F4F4F4;
}

    .main-about {
        padding: 60px 50px 110px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 100px;
    
        background: linear-gradient(135deg,#e8ae6b 0%,#c47d32 100%);    
        position: relative;
        overflow: hidden;

    } 
        .main-about::after {
            content: "";
            position: absolute;
            left: -10%;
            bottom: -140px;
        
            width: 120%;
            height: 200px;
        
            background: #F4F4F4;
            border-radius: 100% 100% 0 0;
        }

        .main-about_container {
            width: 605px;
            display: flex;
            flex-direction: column;
            gap: 36px;
        }

            .main-about_title {
                font-weight: 800;
                font-size: 64px;
                position: relative;
            }
                .main-about_title::before {
                    width: 210px;
                    height: 3px;
        
                    position: absolute;
                    content: "";
                    bottom: -16px;
                    left: 1px;
                    z-index: 1;
    
                    border-radius: 10px;
                    background-color: #ffffff;
                }

            .main-about_txt {
                font-weight: 300;
                font-size: 24px;
            }
                .main-about_txt strong {
                    font-weight: 600;
                }

        .main_myimage {
            width: 620px;
            height: 620px;
            border-radius: 45% 45% 5% 5%;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.326);
        }
    
    .main-prize {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 150px 70px;
    }

        .prize_title,
        .portfolio_title {
            font-weight: 800;
            font-size: 64px;
            margin-bottom: 40px;
            position: relative;
        }

            .prize_title::after {
                width: 210px;
                height: 5px;
    
                position: absolute;
                content: "";
                bottom: -15px;
                left: 125px;
                z-index: 1;
    
                border-radius: 10px;
                background-color: #D99C56;
            }

        .prize_txt {
            width: 577px;
            text-align: center;
            font-weight: 400;
            font-size: 24px;
            margin-bottom: 40px;
        }

        .prize-list {
            display: flex;
            flex-direction: row;
            gap: 190px;
        }

            .prize-list-item {
                padding: 20px 48px;
                width: 475px;
                display: flex;
                flex-direction: column;
                align-items: center;

                border-radius: 10px;
                border: 1px solid #000000;                
                box-shadow: 10px 10px 10px rgba(0,0,0,0.15);

            }

                .prize-list-item_img {
                    width: 380px;
                    height: 357px;
                    margin-bottom: 34px;
                    border-radius: 5px;
                }

                .prize-list-item_title {
                    text-align: center;
                    font-weight: 800;
                    font-size: 40px;
                    margin-bottom: 18px;
                }

                .prize-list-item_txt {
                    font-weight: 400;
                    font-size: 24px;
                }

    .main-studies {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 56px;
        background: linear-gradient(135deg,#c87c2b 0%,#c1915a 100%);
    }

        .studies_title {
            font-weight: 800;
            font-size: 64px;
            margin-bottom: 70px;
            position: relative;
        }

            .studies_title::after {
                width: 210px;
                height: 4px;
    
                position: absolute;
                content: "";
                bottom: -15px;
                left: 90px;
                z-index: 1;
    
                border-radius: 10px;
                background-color: #ffffff;
            }

        .studies-list {
            display: flex;
            flex-direction: row;
            gap: 60px;
        }

            .studies-list-item {
                width: 402px;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                border: 2px solid #000000;
                border-radius: 5px;
                background-color: #F4F4F4;
                box-shadow: 10px 10px 10px rgba(0,0,0,0.15);

                cursor: pointer;
                transition: 0.3s;
            } .studies-list-item:hover {
                scale: 1.05;
                box-shadow: 10px 10px 10px rgba(31, 117, 182, 0.45);

            } 
            
                .studies-list-item a {
                    text-decoration: none;
                    color: #000000;
                }

                .studies-list-item_img {
                    width: 402px;
                    height: 287px;
                    margin-bottom: 23px;
                }

                .studies-list-item_title {
                    font-weight: 400;
                    font-size: 28px;
                    margin-left: 32px;
                    margin-bottom: 28px;
                }

                .studies-list-item_place,
                .studies-list-item_date {
                    font-weight: 400;
                    font-size: 22px;
                    margin-left: 32px;
                    margin-bottom: 26px;
                }

    .main-portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 56px;
    }

        .portfolio-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
        }